<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title>Login Form</title>
</head>
<body>
     <div class="container">
        {% block error_password %}
        {% endblock error_password %}
        <form name="loginForm" method="POST" id="loginForm">
            <input class="input-design" id="email" type="email" name="lEmail" placeholder="Email Address" required><br>
            <input class="input-design" id="password" type="password" name="lPassword" placeholder="Enter Password" required><br>
            <input class="submitbtn" id="submit" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>